In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv(r'C:\Users\revan\Desktop\Python\Canada Climate\Canadian_climate_history.csv')

In [3]:
data.head()

,LOCAL_DATE,MEAN_TEMPERATURE_CALGARY,TOTAL_PRECIPITATION_CALGARY,MEAN_TEMPERATURE_EDMONTON,TOTAL_PRECIPITATION_EDMONTON,MEAN_TEMPERATURE_HALIFAX,TOTAL_PRECIPITATION_HALIFAX,MEAN_TEMPERATURE_MONCTON,TOTAL_PRECIPITATION_MONCTON,MEAN_TEMPERATURE_MONTREAL,...,MEAN_TEMPERATURE_STJOHNS,TOTAL_PRECIPITATION_STJOHNS,MEAN_TEMPERATURE_TORONTO,TOTAL_PRECIPITATION_TORONTO,MEAN_TEMPERATURE_VANCOUVER,TOTAL_PRECIPITATION_VANCOUVER,MEAN_TEMPERATURE_WHITEHORSE,TOTAL_PRECIPITATION_WHITEHORSE,MEAN_TEMPERATURE_WINNIPEG,TOTAL_PRECIPITATION_WINNIPEG
0,01-Jan-1940 00:00:00,-11.4,0.5,NaN,NaN,NaN,NaN,-8.9,0.0,NaN,...,NaN,NaN,-8.9,0.0,8.9,5.8,NaN,NaN,-20.9,0.0
1,02-Jan-1940 00:00:00,-12.0,0.5,NaN,NaN,NaN,NaN,-14.5,0.0,NaN,...,NaN,NaN,-13.1,0.3,9.7,7.1,NaN,NaN,-18.4,0.0
2,03-Jan-1940 00:00:00,-12.0,1.0,NaN,NaN,NaN,NaN,-11.1,0.0,NaN,...,NaN,NaN,-6.1,0.0,7.8,1.0,NaN,NaN,-22.0,0.0
3,04-Jan-1940 00:00:00,-11.4,0.8,NaN,NaN,NaN,NaN,-11.1,0.3,NaN,...,NaN,NaN,-6.4,0.5,8.1,0.5,NaN,NaN,-20.3,0.0
4,05-Jan-1940 00:00:00,-13.1,0.5,NaN,NaN,NaN,NaN,-8.1,0.0,NaN,...,NaN,NaN,-7.2,16.5,7.0,0.8,NaN,NaN,-18.7,0.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29221 entries, 0 to 29220
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   LOCAL_DATE                      29221 non-null  object
 1   MEAN_TEMPERATURE_CALGARY        29032 non-null  float64
 2   TOTAL_PRECIPITATION_CALGARY     29048 non-null  float64
 3   MEAN_TEMPERATURE_EDMONTON       21564 non-null  float64
 4   TOTAL_PRECIPITATION_EDMONTON    21575 non-null  float64
 5   MEAN_TEMPERATURE_HALIFAX        22057 non-null  float64
 6   TOTAL_PRECIPITATION_HALIFAX     21995 non-null  float64
 7   MEAN_TEMPERATURE_MONCTON        26885 non-null  float64
 8   TOTAL_PRECIPITATION_MONCTON     26454 non-null  float64
 9   MEAN_TEMPERATURE_MONTREAL       28466 non-null  float64
 10  TOTAL_PRECIPITATION_MONTREAL    28491 non-null  float64
 11  MEAN_TEMPERATURE_OTTAWA         29145 non-null  float64
 12  TOTAL_PRECIPITATION_OTTAWA      29140 non-null  float64
 13  MEAN_TEMPERATURE_QUEBEC         28007 non-null  float64
 14  TOTAL_PRECIPITATION_QUEBEC      27994 non-null  float64
 15  MEAN_TEMPERATURE_SASKATOON      26748 non-null  float64
 16  TOTAL_PRECIPITATION_SASKATOON   25466 non-null  float64
 17  MEAN_TEMPERATURE_STJOHNS        28413 non-null  float64
 18  TOTAL_PRECIPITATION_STJOHNS     28399 non-null  float64
 19  MEAN_TEMPERATURE_TORONTO        29147 non-null  float64
 20  TOTAL_PRECIPITATION_TORONTO     29141 non-null  float64
 21  MEAN_TEMPERATURE_VANCOUVER      29168 non-null  float64
 22  TOTAL_PRECIPITATION_VANCOUVER   29166 non-null  float64
 23  MEAN_TEMPERATURE_WHITEHORSE     27530 non-null  float64
 24  TOTAL_PRECIPITATION_WHITEHORSE  25126 non-null  float64
 25  MEAN_TEMPERATURE_WINNIPEG       29097 non-null  float64
 26  TOTAL_PRECIPITATION_WINNIPEG    28974 non-null  float64
dtypes: float64(26), object(1)
memory usage: 6.0+ MB

In [5]:
data.isnull().sum()

LOCAL_DATE                           0
MEAN_TEMPERATURE_CALGARY           189
TOTAL_PRECIPITATION_CALGARY        173
MEAN_TEMPERATURE_EDMONTON         7657
TOTAL_PRECIPITATION_EDMONTON      7646
MEAN_TEMPERATURE_HALIFAX          7164
TOTAL_PRECIPITATION_HALIFAX       7226
MEAN_TEMPERATURE_MONCTON          2336
TOTAL_PRECIPITATION_MONCTON       2767
MEAN_TEMPERATURE_MONTREAL          755
TOTAL_PRECIPITATION_MONTREAL       730
MEAN_TEMPERATURE_OTTAWA             76
TOTAL_PRECIPITATION_OTTAWA          81
MEAN_TEMPERATURE_QUEBEC           1214
TOTAL_PRECIPITATION_QUEBEC        1227
MEAN_TEMPERATURE_SASKATOON        2473
TOTAL_PRECIPITATION_SASKATOON     3755
MEAN_TEMPERATURE_STJOHNS           808
TOTAL_PRECIPITATION_STJOHNS        822
MEAN_TEMPERATURE_TORONTO            74
TOTAL_PRECIPITATION_TORONTO         80
MEAN_TEMPERATURE_VANCOUVER          53
TOTAL_PRECIPITATION_VANCOUVER       55
MEAN_TEMPERATURE_WHITEHORSE       1691
TOTAL_PRECIPITATION_WHITEHORSE    4095
MEAN_TEMPERATURE_WINNIPEG          124
TOTAL_PRECIPITATION_WINNIPEG       247
dtype: int64

In [6]:
data.describe()

,MEAN_TEMPERATURE_CALGARY,TOTAL_PRECIPITATION_CALGARY,MEAN_TEMPERATURE_EDMONTON,TOTAL_PRECIPITATION_EDMONTON,MEAN_TEMPERATURE_HALIFAX,TOTAL_PRECIPITATION_HALIFAX,MEAN_TEMPERATURE_MONCTON,TOTAL_PRECIPITATION_MONCTON,MEAN_TEMPERATURE_MONTREAL,TOTAL_PRECIPITATION_MONTREAL,...,MEAN_TEMPERATURE_STJOHNS,TOTAL_PRECIPITATION_STJOHNS,MEAN_TEMPERATURE_TORONTO,TOTAL_PRECIPITATION_TORONTO,MEAN_TEMPERATURE_VANCOUVER,TOTAL_PRECIPITATION_VANCOUVER,MEAN_TEMPERATURE_WHITEHORSE,TOTAL_PRECIPITATION_WHITEHORSE,MEAN_TEMPERATURE_WINNIPEG,TOTAL_PRECIPITATION_WINNIPEG
count,29032.000000,29048.000000,21564.000000,21575.000000,22057.000000,21995.000000,26885.000000,26454.000000,28466.000000,28491.000000,...,28413.000000,28399.000000,29147.000000,29141.000000,29168.000000,29166.000000,27530.000000,25126.000000,29097.000000,28974.000000
mean,4.038516,1.180212,2.311584,1.246239,6.565997,3.976417,5.311854,3.206377,6.675386,2.656070,...,5.007180,4.102220,7.876286,2.139786,10.149650,3.120143,-0.418710,0.729778,2.980713,1.445166
std,11.006215,3.846286,12.285520,3.887939,9.627004,9.251793,10.550237,7.338255,11.940761,6.096109,...,8.142243,8.290984,10.713931,5.570223,5.820145,6.357905,12.869909,1.970414,14.414245,4.681625
min,-37.500000,0.000000,-40.800000,0.000000,-23.500000,0.000000,-27.400000,0.000000,-30.900000,0.000000,...,-21.300000,0.000000,-24.700000,0.000000,-14.500000,0.000000,-48.100000,0.000000,-38.600000,0.000000
25%,-2.500000,0.000000,-5.800000,0.000000,-0.700000,0.000000,-2.500000,0.000000,-2.300000,0.000000,...,-1.100000,0.000000,-0.300000,0.000000,5.900000,0.000000,-8.400000,0.000000,-8.100000,0.000000
50%,5.300000,0.000000,4.200000,0.000000,7.000000,0.000000,5.800000,0.000000,7.500000,0.000000,...,4.500000,0.500000,8.200000,0.000000,10.000000,0.000000,1.900000,0.000000,4.900000,0.000000
75%,12.900000,0.500000,12.600000,0.600000,14.800000,3.000000,14.400000,2.675000,17.000000,2.200000,...,11.500000,4.300000,17.100000,1.300000,15.000000,3.400000,10.000000,0.500000,15.600000,0.550000
max,26.200000,92.600000,24.700000,75.600000,27.000000,218.200000,27.200000,131.800000,30.300000,93.500000,...,25.200000,121.200000,31.800000,126.000000,28.400000,91.600000,23.900000,44.900000,30.900000,83.800000

In [7]:
data['MEAN_TEMPERATURE_CALGARY'].median()

5.3

In [8]:
threshold = len(data)*0.1
threshold

2922.1000000000004

In [9]:
data.shape

(29221, 27)

In [10]:
data.dropna(thresh=threshold,axis=1,inplace=True)

In [11]:
data.isnull().sum()

LOCAL_DATE                           0
MEAN_TEMPERATURE_CALGARY           189
TOTAL_PRECIPITATION_CALGARY        173
MEAN_TEMPERATURE_EDMONTON         7657
TOTAL_PRECIPITATION_EDMONTON      7646
MEAN_TEMPERATURE_HALIFAX          7164
TOTAL_PRECIPITATION_HALIFAX       7226
MEAN_TEMPERATURE_MONCTON          2336
TOTAL_PRECIPITATION_MONCTON       2767
MEAN_TEMPERATURE_MONTREAL          755
TOTAL_PRECIPITATION_MONTREAL       730
MEAN_TEMPERATURE_OTTAWA             76
TOTAL_PRECIPITATION_OTTAWA          81
MEAN_TEMPERATURE_QUEBEC           1214
TOTAL_PRECIPITATION_QUEBEC        1227
MEAN_TEMPERATURE_SASKATOON        2473
TOTAL_PRECIPITATION_SASKATOON     3755
MEAN_TEMPERATURE_STJOHNS           808
TOTAL_PRECIPITATION_STJOHNS        822
MEAN_TEMPERATURE_TORONTO            74
TOTAL_PRECIPITATION_TORONTO         80
MEAN_TEMPERATURE_VANCOUVER          53
TOTAL_PRECIPITATION_VANCOUVER       55
MEAN_TEMPERATURE_WHITEHORSE       1691
TOTAL_PRECIPITATION_WHITEHORSE    4095
MEAN_TEMPERATURE_WINNIPEG          124
TOTAL_PRECIPITATION_WINNIPEG       247
dtype: int64

In [12]:
data.shape

(29221, 27)

In [13]:
#fill null vales with median as these are numerical values
def imp_median(series):
    return series.fillna(series.median())

In [21]:
data.MEAN_TEMPERATURE_CALGARY= data["MEAN_TEMPERATURE_CALGARY"].transform(imp_median)
data.TOTAL_PRECIPITATION_CALGARY= data["TOTAL_PRECIPITATION_CALGARY"].transform(imp_median)
data.MEAN_TEMPERATURE_EDMONTON= data["MEAN_TEMPERATURE_EDMONTON"].transform(imp_median)
data.TOTAL_PRECIPITATION_EDMONTON= data["TOTAL_PRECIPITATION_EDMONTON"].transform(imp_median)
data.MEAN_TEMPERATURE_HALIFAX= data["MEAN_TEMPERATURE_HALIFAX"].transform(imp_median)
data.TOTAL_PRECIPITATION_HALIFAX= data["TOTAL_PRECIPITATION_HALIFAX"].transform(imp_median)
data.MEAN_TEMPERATURE_MONCTON= data["MEAN_TEMPERATURE_MONCTON"].transform(imp_median)
data.TOTAL_PRECIPITATION_MONCTON= data["TOTAL_PRECIPITATION_MONCTON"].transform(imp_median)
data.MEAN_TEMPERATURE_MONTREAL= data["MEAN_TEMPERATURE_MONTREAL"].transform(imp_median)
data.TOTAL_PRECIPITATION_MONTREAL= data["TOTAL_PRECIPITATION_MONTREAL"].transform(imp_median)
data.MEAN_TEMPERATURE_OTTAWA= data["MEAN_TEMPERATURE_OTTAWA"].transform(imp_median)
data.TOTAL_PRECIPITATION_OTTAWA= data["TOTAL_PRECIPITATION_OTTAWA"].transform(imp_median)
data.MEAN_TEMPERATURE_QUEBEC= data["MEAN_TEMPERATURE_QUEBEC"].transform(imp_median)
data.TOTAL_PRECIPITATION_QUEBEC= data["TOTAL_PRECIPITATION_QUEBEC"].transform(imp_median)
data.MEAN_TEMPERATURE_SASKATOON= data["MEAN_TEMPERATURE_SASKATOON"].transform(imp_median)
data.TOTAL_PRECIPITATION_SASKATOON= data["TOTAL_PRECIPITATION_SASKATOON"].transform(imp_median)
data.MEAN_TEMPERATURE_STJOHNS= data["MEAN_TEMPERATURE_STJOHNS"].transform(imp_median)
data.TOTAL_PRECIPITATION_STJOHNS= data["TOTAL_PRECIPITATION_STJOHNS"].transform(imp_median)
data.MEAN_TEMPERATURE_TORONTO= data["MEAN_TEMPERATURE_TORONTO"].transform(imp_median)
data.TOTAL_PRECIPITATION_TORONTO= data["TOTAL_PRECIPITATION_TORONTO"].transform(imp_median)
data.MEAN_TEMPERATURE_VANCOUVER= data["MEAN_TEMPERATURE_VANCOUVER"].transform(imp_median)
data.TOTAL_PRECIPITATION_VANCOUVER= data["TOTAL_PRECIPITATION_VANCOUVER"].transform(imp_median)
data.MEAN_TEMPERATURE_WHITEHORSE= data["MEAN_TEMPERATURE_WHITEHORSE"].transform(imp_median)
data.TOTAL_PRECIPITATION_WHITEHORSE= data["TOTAL_PRECIPITATION_WHITEHORSE"].transform(imp_median)
data.MEAN_TEMPERATURE_WINNIPEG= data["MEAN_TEMPERATURE_WINNIPEG"].transform(imp_median)
data.TOTAL_PRECIPITATION_WINNIPEG= data["TOTAL_PRECIPITATION_WINNIPEG"].transform(imp_median)

In [22]:
data.isnull().sum()

LOCAL_DATE                        0
MEAN_TEMPERATURE_CALGARY          0
TOTAL_PRECIPITATION_CALGARY       0
MEAN_TEMPERATURE_EDMONTON         0
TOTAL_PRECIPITATION_EDMONTON      0
MEAN_TEMPERATURE_HALIFAX          0
TOTAL_PRECIPITATION_HALIFAX       0
MEAN_TEMPERATURE_MONCTON          0
TOTAL_PRECIPITATION_MONCTON       0
MEAN_TEMPERATURE_MONTREAL         0
TOTAL_PRECIPITATION_MONTREAL      0
MEAN_TEMPERATURE_OTTAWA           0
TOTAL_PRECIPITATION_OTTAWA        0
MEAN_TEMPERATURE_QUEBEC           0
TOTAL_PRECIPITATION_QUEBEC        0
MEAN_TEMPERATURE_SASKATOON        0
TOTAL_PRECIPITATION_SASKATOON     0
MEAN_TEMPERATURE_STJOHNS          0
TOTAL_PRECIPITATION_STJOHNS       0
MEAN_TEMPERATURE_TORONTO          0
TOTAL_PRECIPITATION_TORONTO       0
MEAN_TEMPERATURE_VANCOUVER        0
TOTAL_PRECIPITATION_VANCOUVER     0
MEAN_TEMPERATURE_WHITEHORSE       0
TOTAL_PRECIPITATION_WHITEHORSE    0
MEAN_TEMPERATURE_WINNIPEG         0
TOTAL_PRECIPITATION_WINNIPEG      0
dtype: int64

In [25]:
data.describe()

,MEAN_TEMPERATURE_CALGARY,TOTAL_PRECIPITATION_CALGARY,MEAN_TEMPERATURE_EDMONTON,TOTAL_PRECIPITATION_EDMONTON,MEAN_TEMPERATURE_HALIFAX,TOTAL_PRECIPITATION_HALIFAX,MEAN_TEMPERATURE_MONCTON,TOTAL_PRECIPITATION_MONCTON,MEAN_TEMPERATURE_MONTREAL,TOTAL_PRECIPITATION_MONTREAL,...,MEAN_TEMPERATURE_STJOHNS,TOTAL_PRECIPITATION_STJOHNS,MEAN_TEMPERATURE_TORONTO,TOTAL_PRECIPITATION_TORONTO,MEAN_TEMPERATURE_VANCOUVER,TOTAL_PRECIPITATION_VANCOUVER,MEAN_TEMPERATURE_WHITEHORSE,TOTAL_PRECIPITATION_WHITEHORSE,MEAN_TEMPERATURE_WINNIPEG,TOTAL_PRECIPITATION_WINNIPEG
count,29221.000000,29221.000000,29221.000000,29221.000000,29221.000000,29221.000000,29221.000000,29221.000000,29221.000000,29221.000000,...,29221.000000,29221.000000,29221.000000,29221.000000,29221.000000,29221.000000,29221.000000,29221.000000,29221.000000,29221.000000
mean,4.046675,1.173225,2.806420,0.920146,6.672400,2.993097,5.350878,2.902758,6.696692,2.589716,...,4.993156,4.000888,7.877106,2.133928,10.149379,3.114271,-0.284528,0.627508,2.988857,1.432951
std,10.971028,3.835952,10.586401,3.385367,8.366091,8.208011,10.120599,7.044999,11.786212,6.033735,...,8.029309,8.195207,10.700368,5.563716,5.814868,6.353358,12.503688,1.844613,14.384169,4.663673
min,-37.500000,0.000000,-40.800000,0.000000,-23.500000,0.000000,-27.400000,0.000000,-30.900000,0.000000,...,-21.300000,0.000000,-24.700000,0.000000,-14.500000,0.000000,-48.100000,0.000000,-38.600000,0.000000
25%,-2.500000,0.000000,-2.000000,0.000000,1.800000,0.000000,-1.700000,0.000000,-2.000000,0.000000,...,-0.900000,0.000000,-0.300000,0.000000,5.900000,0.000000,-7.500000,0.000000,-8.100000,0.000000
50%,5.300000,0.000000,4.200000,0.000000,7.000000,0.000000,5.800000,0.000000,7.500000,0.000000,...,4.500000,0.500000,8.200000,0.000000,10.000000,0.000000,1.900000,0.000000,4.900000,0.000000
75%,12.800000,0.500000,10.100000,0.200000,12.300000,1.200000,13.700000,2.000000,16.900000,2.000000,...,11.300000,4.100000,17.100000,1.300000,15.000000,3.400000,9.500000,0.300000,15.600000,0.500000
max,26.200000,92.600000,24.700000,75.600000,27.000000,218.200000,27.200000,131.800000,30.300000,93.500000,...,25.200000,121.200000,31.800000,126.000000,28.400000,91.600000,23.900000,44.900000,30.900000,83.800000

In [35]:
data['LOCAL_DATE'] = data['LOCAL_DATE'].apply(lambda x : str(x).replace(' 00:00:00','')if ' 00:00:00' in str(x) else str(x))

In [36]:
data['LOCAL_DATE'].max()

'31-Oct-2019'

In [38]:
from datetime import datetime
data['LOCAL_DATE'] = datetime.strptime(data['LOCAL_DATE'], "%d-%m-%Y")

TypeError: strptime() argument 1 must be str, not Series

In [45]:
def date_convert(date_to_convert):
     return datetime.strptime(date_to_convert, '%d %m, %Y').strftime('%d-%m-%Y')

data['LOCAL_DATE'] = data['LOCAL_DATE'].apply(date_convert)

ValueError: time data '01-Jan-1940' does not match format '%d %m, %Y'